<%- include("../includes/header.ejs") %> 

<main class="container p-5">
    <form calss="product-form" action="/admin/<% if(editing){ %>edit-product <% }else{ %>add-product <% } %>" method="post">
        <div class="mb-3">
            <label for="title">產品標題</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" value="<% if(editing){ %><%=product.title  %><% } %>">
            <div id="titleHelp" class="form-text text-muted">請輸入標題內容</div>
        </div>

        <div class="mb-3">
            <label for="imgUrl">產品圖片</label>
            <input type="text" class="form-control" id="imgUrl" name="imgUrl" aria-describedby="imgUrlHelp"  value="<% if(editing){ %><%=product.imgUrl  %><% } %>">
            <div id="imgUrlHelp" class="form-text text-muted">請輸入圖片地址</div>
        </div>

        <div class="mb-3">
            <label for="price">產品價格</label>
            <input type="number" min="0" max="999999" step="0.01" class="form-control" id="price" name="price" aria-describedby="priceHelp" value="<% if(editing){ %><%=product.price %><% } %>">
            <div id="priceHelp" class="form-text text-muted">請輸入價格</div>
        </div>
  
        <div class="mb-3">
            <label for="description">產品介紹</label>
            <textarea class="form-control" id="description" name="description" rows="4"><% if(editing){ %><%= product.description%><% } %></textarea>
            <div id="descriptionHelp" class="form-text text-muted">請輸入產品內容</div>
        </div>

        <% if(editing){ %>
            <input type="hidden" name="productId" id="productId" value="<%=product.id %>"/>
        <% } %> 
        <button type="submit" class="btn btn-primary">
            <% if(editing){ %> 
                修改產品
            <% }else{ %>
                增加產品
            <% } %>  </button>
    </form>
</main>
    
<%- include("../includes/footer.ejs") %> 
