<%- include("../includes/header.ejs") %> 

    <main class="container p-5">
        <h1>我的產品</h1>>
        <% if(prods.length>0){ %>  
            <div class="row"> 
                <% for(let product of prods){ %> 
                    <div class="col-md-4 p-2">
                        <div class="card" style="width: 18rem;">
                          <img src="<%= product.imgUrl %>" class="card-img-top" alt="<%= product.title%>">
                            <div class="card-body">
                                    <h5 class="card-title"><%= product.title %> </h5>
                                    <p class="card-text"><%= product.description %></p>
                                    <p><%= product.price %></p>>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="/admin/edit-product/<%= product.id %>?edit=true" class="btn btn-primary mr-2">修改產品</a>
                                        <form action="/admin/delete-product" method="post">
                                            <input type="hidden" name="productId" value="<%= product.id %>"/>
                                            <button type="submit" class="btn btn-danger mr-2">刪除產品</button>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
        <% }else{ %> 
            <div class="alert alert-danger" role="alert">暫無產品</div>
        <% } %> 
    </main>

<%- include("../includes/footer.ejs") %> 