<%- include("../includes/header.ejs") %> 

<h1> 訂單管理</h1>
<% if(orders.length > 0){ %> 
<ul class="list-group">

<% orders.forEach(function(order){ %> 
    <li class="list-group-item active">
        訂單編號:<%= order.id %>
        <% order.products.forEach(function(product){ %>
            <Li class="list-group-item">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">商品名稱:<%= product.title %></h5>
                    <small>單格:<%= product.price  %> </small>
                    <p>數量:<%= product.quantity  %></p>
                </div>
            </Li>
        <% }); %> 
    </li>
<% }); %> 
</ul>
<% }else{ %> 
    <div class="alert alert-danger" role="alert">暫無訂單</div>
<% } %> 

<%- include("../includes/footer.ejs") %> 